@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }

  .header {
    height: 411px;

    .main-title {
      height: 280px;
    }
  }

  .main-article {
    height: 262px;

    .title {
      font-size: 48px;
      margin-top: 43px;
    }
  }

  .main-articles {
    margin-top: 108px;

    .row {
      .article {
        img {
          width: 480px;
          margin-left: -13px;
        }

        .title {
          padding-right: 10px;
        }

        .description {
          padding-right: 12px;
        }

        .button {
          transform: translateX(-4px);
        }

        &:nth-of-type(2) {
          img {
            margin-left: -4px;
          }

          .description {
            padding-left: 9px;
            padding-right: 3px;
          }

          .button {
            transform: translateX(5px);
          }
        }
      }

      &:nth-of-type(2) {
        .article {
          img {
            margin-top: -4px;
            margin-left: -12px;
          }

          .title {
            margin-top: 16px;
            padding-right: 11px;
          }

          .description {

          }

          .button {
            margin-top: 16px;
          }

          &:nth-of-type(2) {
            img {
              margin-left: -5px;
            }

            .title {
              padding-left: 20px;
            }

            .description {

            }

            .button {

            }
          }
        }
      }

      &:nth-of-type(3) {
        margin-top: 129px;

        .article {
          img {
            width: 424px;
            margin-left: 22px;
          }

          .title {
            margin-left: 6px;
          }

          .description {
            padding-left: 9px;
            padding-right: 16px;
          }

          .button {
            transform: translateX(0px);
          }
        }
      }
    }
  }

  .enjoy-article {
    height: 431px;
  }

  .footer {
    .contacts {
      .department {
        &:nth-of-type(2) {
          padding-left: 11px;
        }

        &:nth-of-type(3) {
          padding-left: 9px;
        }
      }
    }
  }

  .info-menu-socials {
    .socials {
      margin-left: -38px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 14px;
  }
  .header {
    height: auto;

    .logo {
      img {
        margin-bottom: -2px;
      }
    }

    .main-title {
      display: none;
    }

    .categories {
      margin-top: 0;
      border: 0;

      .categories-menu {
        overflow: hidden;
        overflow-x: auto;
        height: 58px;

        a {
          font-size: 18px;
          margin-top: -6px;
          padding: 0px 16px;
        }
      }
    }
  }

  .main-article {
     height: auto;

     .title {
       font-size: 34px;
       margin-top: 28px;
       margin-left: 4px;
     }

    .description {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      margin: 16px 0 26px 0;
      padding: 0 10px;
    }

    &:after {
      transform: translateX(-29px);
    }
  }

  .main-articles {
    .row {
      .article {
        img {
          width: 200px;
          margin-left: -13px;
        }

        .title {

        }

        .description {

        }

        .button {

        }
      }

      &:nth-of-type(3) {
        .article {
          img {
            width: 200px;
          }
        }
      }
    }
  }

  .footer {
    height: auto;
  }
}
