<header>
  <div class="logo-menu-container">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-4">
          <a href="/"><img src="/assets/img/logo.png" alt="Trinetix"></a>
        </div>
        <div class="col-8">
          <nav class="main-menu">
            <a href="#">Case Studies</a>
            <a href="#">Services</a>
            <a href="#">Expertise</a>
            <a href="#">About</a>
            <a href="#">Contact us</a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="main-title">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            We work with forward businesses to create<br/>
            new digital platforms, products and services.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12">
          <nav class="categories-menu">
            <a href="#" class="active">ALL</a>
            <a href="#">Mobile apps</a>
            <a href="#">web services</a>
            <a href="#">augmented reality</a>
            <a href="#">UX/ui design</a>
            <a href="#">development</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
