<header class="header">
  <div class="logo-menu-container">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-4">
          <a routerLink="/" class="logo"><img src="/assets/img/logo.png" alt="Trinetix"></a>
        </div>
        <div class="d-none d-sm-block col-8">
          <nav class="main-menu">
            <a routerLink="/case_studies" routerLinkActive="active">Case Studies</a>
            <a routerLink="/services" routerLinkActive="active">Services</a>
            <a routerLink="/expertise" routerLinkActive="active">Expertise</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contacts" routerLinkActive="active">Contact us</a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="main-title">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title">
            We work with forward businesses to create<br/>
            new digital platforms, products and services.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="categories">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12">
          <nav class="categories-menu">
            <a routerLink="/">all</a>
            <a routerLink="/services/mobile_apps" routerLinkActive="active">
              <div class="d-none d-sm-block">mobile apps</div>
              <div class="d-block d-sm-none">mobile</div>
            </a>
            <a routerLink="/services/web_srvices" routerLinkActive="active">
              <div class="d-none d-sm-block">web services</div>
              <div class="d-block d-sm-none">web</div>
            </a>
            <a routerLink="/services/augmented_reality" routerLinkActive="active">
              <div class="d-none d-sm-block">augmented reality</div>
              <div class="d-block d-sm-none">ar</div>
            </a>
            <a routerLink="/services/ux_ui_design" routerLinkActive="active">
              <div class="d-none d-sm-block">ux/ui design</div>
              <div class="d-block d-sm-none">ux/ui</div>
            </a>
            <a routerLink="/services/development" routerLinkActive="active">
              <div class="d-none d-sm-block">development</div>
              <div class="d-block d-sm-none">dev</div>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="row no-gutters contacts">
      <div class="col-12">
        <div class="row">
          <div class="department col-xs-12 col-sm-3">
            <div class="title">Headquarters:</div>
            <div class="contact-data">
              11 E. Chavdar Street, Office 222,<br/>
              Kiev, Ukraine 04335
            </div>
          </div>

          <div class="department col-6 col-sm-3">
            <div class="title">USA:</div>
            <div class="contact-data">
              <a href="mailto:usa.hr@trinetix.com" class="email">usa.hr@trinetix.com</a>
              <div class="phone">+1 212-336-1440</div>
            </div>
          </div>

          <div class="department col-6 col-sm-3">
            <div class="title">Ukraine:</div>
            <div class="contact-data">
              <a href="mailto:ua.hr@trinetix.com" class="email">ua.hr@trinetix.com</a>
              <div class="phone">+38 044-334-2341</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="info-menu-socials">
    <div class="container">
      <div class="row">
        <div class="copyright col-xs-12 col-sm-3">
          © 2010-2015 Trinetix LLC
        </div>

        <div class="department d-none d-sm-block col-xs-12 col-md-7 col-lg-6">
          <nav class="main-menu">
            <a routerLink="/">Home</a>
            <a routerLink="/case_studies" routerLinkActive="active">Case Studies</a>
            <a routerLink="/services" routerLinkActive="active">Services</a>
            <a routerLink="/expertise" routerLinkActive="active">Expertise</a>
            <a routerLink="/about" routerLinkActive="active">About</a>
            <a routerLink="/contacts" routerLinkActive="active">Contact us</a>
          </nav>
        </div>

        <div class="socials col-xs-12 col-md-2 col-lg-3">
          <a href="#"><img src="/assets/img/socials/fb.png" alt="Facebook"></a>
          <a href="#"><img src="/assets/img/socials/in.png" alt="Linkedin"></a>
          <a href="#"><img src="/assets/img/socials/g-plus.png" alt="G+"></a>
          <a href="#"><img src="/assets/img/socials/tw.png" alt="Twitter"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
