<article class="main-article">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">
        <header class="title">What We Do</header>
        <div class="description d-none d-sm-block">
          We launch different types of platforms and operating systems using distinguishes<br/>
          of every platform or operating system as adventage and a powerful tool.
        </div>
        <div class="description d-block d-sm-none">
          We launch different types of platforms and operating systems using distinguishes of every platform or operating system as adventage and a powerful tool.
        </div>
      </div>
    </div>
  </div>
</article>

<section class="main-articles">
  <div class="container">
    <div class="row no-gutters">
      <article class="article col-xs-12 col-sm-6">
        <img src="/assets/img/articles/mobile_apps.jpg" alt="Mobile App">
        <header class="title">Mobile Apps</header>
        <div class="description">
          <div class="description d-none d-sm-block">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
          </div>
          <div class="description d-block d-sm-none">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our<br/>
            clients achieve their goals and grow their brands.
          </div>
        </div>
        <footer>
          <a routerLink="/services/mobile_apps" class="button">Learn More</a>
        </footer>
      </article>

      <article class="article col-xs-12 col-sm-6">
        <img src="/assets/img/articles/web_services.jpg" alt="Web Services">
        <header class="title">Web Services</header>
        <div class="description">
          <div class="description d-none d-sm-block">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
          </div>
          <div class="description d-block d-sm-none">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our<br/>
            clients achieve their goals and grow their brands.
          </div>
        </div>
        <footer>
          <a routerLink="/services/web_srvices" class="button">Learn More</a>
        </footer>
      </article>
    </div>

    <div class="row no-gutters">
      <article class="article col-xs-12 col-sm-6">
        <img src="/assets/img/articles/augmented_reality.jpg" alt="Augmented Reality">
        <header class="title">Augmented Reality</header>
        <div class="description">
          <div class="description d-none d-sm-block">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
          </div>
          <div class="description d-block d-sm-none">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our<br/>
            clients achieve their goals and grow their brands.
          </div>
        </div>
        <footer>
          <a routerLink="/services/augmented_reality" class="button">Learn More</a>
        </footer>
      </article>

      <article class="article col-xs-12 col-sm-6">
        <img src="/assets/img/articles/ux_ui_design.jpg" alt="UX/UI Design">
        <header class="title">UX/UI Design</header>
        <div class="description">
          <div class="description d-none d-sm-block">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
          </div>
          <div class="description d-block d-sm-none">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our<br/>
            clients achieve their goals and grow
          </div>
        </div>
        <footer>
          <a routerLink="/services/ux_ui_design" class="button">Learn More</a>
        </footer>
      </article>
    </div>

    <div class="row no-gutters">
      <article class="article mx-auto col-xs-12 col-sm-6">
        <img src="/assets/img/articles/development.jpg" alt="Development">
        <header class="title">Development</header>
        <div class="description">
          <div class="description d-none d-sm-block">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our clients achieve their goals and grow their brands.
          </div>
          <div class="description d-block d-sm-none">
            We are a nimble team of designers, developers, and strategists who are passionate about helping our<br/>
            clients achieve their goals and grow their brands.
          </div>
        </div>
        <footer>
          <a routerLink="/services/development" class="button">Learn More</a>
        </footer>
      </article>
    </div>
  </div>
</section>

<article class="enjoy-article">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">
        <header class="title">
          <div class="d-none d-md-none d-lg-block">
            We enjoy what we do.<br/>
            Working with smart people at great projects.<br/>
            Contact us if you want to work with us.
          </div>

          <div class="d-none d-sm-block d-md-block d-lg-none">
            We enjoy what we do.<br/>
            Working with smart people<br/>
            at greatprojects. Contact us if you<br/>
            want to workwithy us.
          </div>

          <div class="d-block d-sm-none">
            We enjoy working with smart people on challenging tasks<br/>
            and deliver great products.<br/>
            Let's team up to create something worth the effort.
          </div>
        </header>
        <footer>
          <a routerLink="/contacts" class="button mx-auto">Contact Us</a>
        </footer>
      </div>
    </div>
  </div>
</article>
